body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: white;
  padding: 1em 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 15px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffd700;
  /* Change color on hover */
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1;
  }

  nav.show {
    display: flex;
  }

  nav a {
    margin: 15px;
  }

  .menu-toggle {
    display: flex;
  }
}

.hero {
  background-color: #f0f0f0;
  text-align: center;
  padding: 100px 0;
}

.content {
  padding: 80px 0;
}

button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
}
